<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" media="all" href="/gtvg/css/gtvg.css" />
  </head>
  <body>
    Hello <span th:text="${firstName}">Student</span>,<br><br>
    You have been un assigned an exam: <span th:text="${examTitle}">Exam Name</span>.<br>
    Please log in to your account to view the details.<br><br>
    If you still wanted to take the exam, please reach out the exam creator.<br><br><br><br>
    Please do not reply to this email. This is a system-generated email.<br><br>
    Best Regards,<br>
    Online Testing Team
  </body>
</html>