<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" media="all" href="/gtvg/css/gtvg.css" />
  </head>
  <body>
    Dear Instructor,<br><br>
    <span th:text="${examTitle}">New Exam</span> has been successfully created.<br>
    You can review the exam details in your dashboard.<br><br>
    Please do not reply to this email. This is a system-generated email.<br><br>
    Best Regards,<br>
    Online Testing Team
  </body>
</html>