<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" media="all" href="/gtvg/css/gtvg.css" />
  </head>
  <body>
    Hello <span th:text="${firstName}">Student</span>,<br><br>
    This is a reminder that your exam <span th:text="${examTitle}">Exam Name</span> is scheduled for tomorrow.<br>
    Please log in to your account to review the exam details.<br><br>
    Please do not reply to this email. This is a system-generated email.<br><br>
    Best Regards,<br>
    Online Testing Team
  </body>
</html>